<h1>All Album</h1>
<div class="row">
  <% @albums.each do |album| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <% if album.cover_photo.attached? %>
            <%=link_to home_path(id: album.id) do%>
              <%=image_tag(album.cover_photo,class: " img-fluid") %>
            <%end%> <%end%>
        </div>
        <div class="card-footer">
          <strong>Title:</strong>
          <%=album.title%>
        </div>
        <div class="card-footer">
          <strong>Description:</strong>
          <%=album.description%>
        </div>
        <div class="card-footer">
          <strong>Total Photos:</strong>
          <%=album.photos.count%>
        </div>
      </div>
    </div>
  <%end%>
</div>
