<h1>All Draft Album of <%=current_user.name%> are <%=@album_draft%></h1>
<div class="row">
  <% @albums.each do |album| %>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
              <%= link_to album_path(album),method: :delete, data: { confirm: "Are you sure?" } do   %>
                <i class="fas fa-times right"></i>
              <%end %>
              <%= link_to edit_album_path(album)do   %>
                <i class="fas fa-edit green"></i>
              <%end %>
            </div>
          <div class="card-body">
            <% if album.cover_photo.attached? %>
           <%= link_to  home_path(id: album.id),class:"link" do%>
              <%=image_tag(album.cover_photo,class: "card-top-img img-fluid") %>
            <%end%> <%end%>
        </div>
        <div class="card-footer">
          <strong>Title:</strong>
          <%=album.title%>
        </div>
        <div class="card-footer">
          <strong>Description:</strong>
          <%=album.description%>
        </div>
        <div class="card-footer">
          <strong>Total Photos:</strong>
          <%=album.photos.count%>
        </div>
      </div>
    </div>
  <%end%>
</div>
